
mixin processKV(key, value)
    script.
        console.log("#{key}" + ":" + "#{value}")
    case key
        when "Name"
            //nothing, already taken care of with title
            - break
        when "Technologies"
            p.mx-5.my-1.card-text #{key} : 
                each tech in value
                    - var url = projectHeaders["techLinks"][tech];
                    if url
                        a(href=url) #{tech} 
                    else
                        span #{tech} 
        when "Play"
            - var url = projectHeaders["playLinks"][projectName];
            p.mx-5.my-1.card-text #{key} : #[a(href=url) #{value}]
        default 
            p.mx-5.my-1.card-text #{key} : #{value}

.card.bg-light.my-3
    .card-header Stats
    each value, key in project
        +processKV(key, value)
